<h1> Project: <%= @project.name %> </h1>
<h3> Material: <%= @project.material %> </h3>
<h3> Challenge Theme: <%= @project.theme %> </h3>
<h4> Number of Contestants: <%= @project.number_of_contestants %> </h4>
<h5> Average Contestant Experience: <%= @project.average_customer_experience %> years </h5>
